name: run api tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Smoke Suite
        run: mvn clean test -Papi-tests

      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: target/surefire-reports/

      - name: Upload Videos
        uses: actions/upload-artifact@v4
        with:
          name: selenium-videos
          path: videos/

